<nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" [class.bg-info]="selectedTabIndex == 0" (click)="emitMenuIndex()">
          <a class="nav-link" [class.active]="selectedTabIndex == 0" aria-current="page">Grid 1</a>
        </li>
        <li class="nav-item" [class.bg-info]="selectedTabIndex == 1" (click)="emitMenuIndex(1)">
          <a class="nav-link" [class.active]="selectedTabIndex == 1">Grid 2</a>
        </li>
        <li class="nav-item" [class.bg-info]="selectedTabIndex == 2" (click)="emitMenuIndex(2)">
          <a class="nav-link" [class.active]="selectedTabIndex == 2" aria-current="page">Grid 3</a>
        </li>
        <li class="nav-item" [class.bg-info]="selectedTabIndex == 3" (click)="emitMenuIndex(3)">
          <a class="nav-link" [class.active]="selectedTabIndex == 3">Grid 4</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
